<% if current_user.role == true %>
<%= render "shared/flashes" %>
<%= render "shared/navbar2" %>

<div class="container mt-5">
<!-- Init First Table -->
  <div class="row">
    <div class="col-md-12">
      <div class="main-card mb-3 card">
      <div class="card-header">
          <div class="ml-2">
          <!-- Button trigger modal -->
        <button type="button" id="mymodal" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModall">
          +
        </button>
          </div>
        </div>
        <div class="table-responsive">
          <table
            class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
              <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Nome</th>
                <th class="text-center">CPF</th>
                <th class="text-center">Cel</th>
                <th class="text-center">Acompanhante</th>
                <th class="text-center">Destino</th>
                <th class="text-center">Partida</th>
                <th class="text-center">Retorno</th>
              </tr>
            </thead>
            <tbody>
             <% @patients.each do |u| %>
              <tr>
                <td class="text-center text-muted"><%= u.id %></td>
                <td class="text-center"> <%= u.name %> </td>
                      <td class="text-center"><%= u.cpf%></td>
                      <td class="text-center"><%= u.cel%></td>
                      <td class="text-center"><%= u.acompanhante%></td>
                      <td class="text-center"><%= u.destino%></td>
                      <td class="text-center">
                        <% if u.partida == false || u.partida == nil %>
                          <%= link_to change_travel_path(u, travel_id: @travel.id, status: false),data: {confirm: "Tem certeza?"}, class: "btn btn-primary btn-sm" do %>
                          <i class="fa fa-square"></i>
                        <% end %>
                      <% else %>
                        <%#= link_to "D", change_travel_path(u, travel_id: @travel.id, status: false), class: "btn-wide btn btn-success btn-sm" %>
                        <%= link_to change_travel_path(u, travel_id: @travel.id, status: true), data: {confirm: "Tem certeza?"}, class: "btn btn-success btn-sm" do %>
                          <i class="fa fa-check"></i>
                        <% end %>
                      <% end %>
                      </td>
                      <td class="text-center">
                        <% if u.retorno == false || u.retorno == nil %>
                          <%= link_to changeret_travel_path(u, travel_id: @travel.id, status: false),data: {confirm: "Tem certeza?"}, class: "btn btn-primary btn-sm" do %>
                          <i class="fa fa-square"></i>
                        <% end %>
                      <% else %>
                        <%#= link_to "D", change_travel_path(u, travel_id: @travel.id, status: false), class: "btn-wide btn btn-success btn-sm" %>
                        <%= link_to changeret_travel_path(u, travel_id: @travel.id, status: true), data: {confirm: "Tem certeza?"}, class: "btn btn-success btn-sm" do %>
                          <i class="fa fa-check"></i>
                        <% end %>
                      <% end %>
                      </td>
                    </div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
            </div>
                </td>
                </td>
                <td class="text-center">
                   <%= link_to "Deletar", [@travel, u], data: { method: :delete, turbo_confirm: "Tem certeza?"}, class: "btn-wide btn btn-danger btn-sm" %>
                  <button class="btn-wide btn btn-success btn-sm">Edit</button>
                </td>
              </tr>
              <% end %>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-block text-center card-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- Finaly First Table -->

<!-- Modal -->
<div class="modal fade" id="exampleModall" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <div class="d-flex justify-content-center bg-white p-5">
        <%#= form_with model: [@travel,@patient], class:"row g-1 w-10", local: true do |form| %>
         <%#= form.label :name %>
         <%#= form.text_field :name, class:"form-control form-control-sm col-auto" %>
         <%#= form.label :cel %>
         <%#= form.text_field :cel, class:"form-control form-control-sm col-auto" %>
          <%#= form.label :cpf %>
         <%#= form.text_field :cpf, class:"form-control form-control-sm col-auto" %>
          <%#= form.label :city %>
         <%#= form.text_field :city, class:"form-control form-control-sm col-auto" %>
          <%#= form.label :acompanhantes %>
         <%#= form.text_field :acompanhantes, class:"form-control form-control-sm col-auto" %>
        <div><%#= form.submit "Adicionar", class: "btn btn-primary mt-2 text-center" %></div>
      <%# end %>

      <%= simple_form_for([@travel,@patient], :remote=>true) do |f| %>
        <%= f.input :name, label: "Nome" %>
        <%= f.input :cpf, label: "CPF" %>
        <%= f.input :endereco, label: "Endereco" %>
        <%= f.input :cel, label: "Celular" %>
        <%= f.input :acompanhante, label: "Acompanhante" %>
        <%= f.input :destino, label: "Destino" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="close" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <%= f.button :submit, "Enviar", class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>
  </div>
</div>

  <!-- End Modal Add Rotum -->

<% else %>
<%= render "shared/flashes" %>
<%= render "shared/navbar" %>
<div class="container">
 <div class="row mt-5">
    <div class="card shadow rounded-3 " style="--bs-border-opacity: .2;">
    <div class="card-body callout callout-primary">
      <div class="row">
      <p><strong> Horários: </strong></p>
      <p>Partida:<strong> <%= @travel.hr_partida %></strong></p>
      <p>Retorno:<strong> <%= @travel.hr_volta %></strong></p>
      <% if @travel.status == "A iniciar" %>
        <p class="text-center"><%= link_to "Iniciar", status_travel_path(:params => "A iniciar"), class:"btn btn-primary" %></p>
      <% elsif @travel.status == "Em andamento"%>
        <p class="text-center"><%= link_to "Encerrar", status_travel_path(:params => "Encerrar"), class:"btn btn-primary" %></p>
        <p class="text-center"><strong> Viagem em andamento </strong></p>
      <% else  %>
        <p class="text-center"><strong> Viagem Encerrada </strong></p>
      <% end %>
        <div class="container table-responsive py-5">
        <table class="table table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">CPF</th>
              <th scope="col">Endereco</th>
              <th scope="col">Destino</th>
              <th scope="col">Acompanhante</th>
            </tr>
          </thead>
          <tbody>
          <% @patients.each do |pa| %>
            <tr>
              <td><%= pa.name %></td>
              <td><%= pa.cpf %></td>
              <td><%= pa.endereco %></td>
              <td><%= pa.destino %></td>
              <td><%= pa.acompanhante %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <% if @travel.status == "Finalizado" || @travel.status == "Encerrado" %>
          <div class="progress mt-5" style="height: 1.5px;">
          </div>
          <p class="text-center mt-5"><strong> Adicionar comprovante </strong></p>
          <div class="d-flex justify-content-center bg-white rounded p-2 shadow">
          <%= form_with model: @comprovante, class:"row g-1 w-10", local: true do |form| %>
            <%= form.label :valor %>
            <%= form.number_field :valor, step: :any , required: true, class:"form-control form-control-sm col-auto" %>
            <%= form.label :categoria %>
            <%= form.select :categoria, ['Alimentacão', 'Pedágio', 'Combustível', 'Despesas Diversas'] ,step: :any , required: true, class:"form-control form-control-sm col-auto" %>
            <%= form.hidden_field :travel, value: @travel.id %>
            <%= form.submit "Adicionar", class: "btn btn-primary" %>
            </div>
            <p class="text-center mt-5"><strong> Lista de comprovantes </strong></p>
              <% current_user.comprovantes.each do |c| %>
              <div class="list-group p-2">
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Comprovante</h5>
                    <strong><small> R$ <%= c.valor %></small></strong>
                  </div>
                  <p class="mb-1"><%= c.categoria %></p>
                  <small>And some small print.</small>
                </a>
              </div>
              <% end %>
          <% end %>
        </div>
        <% end %>
        </div>
      </div>
    </div>
    <div class="progress" style="height: 3px;">
  <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</div>
</div>
</div>
<% end %>
<h1 id="bosta"></h1>
<script>
const name = document.getElementById("teste");
console.log(name);
</script>
