<%= render "shared/flashes" %>
<%= render "shared/navbarmat" %>

<div class="container mt-5">

<div class="row">
						<div class="col-12 col-lg-12 col-xxl-12 d-flex">
							<div class="card flex-fill">
								<div class="card-header">
									<h5 class="card-title mb-0"e>Usuários Cadastrados</h5>
								</div>
								<table class="highlight responsive-table">
									<thead>
										<tr>
											<th>Email</th>
											<th>Município</th>
											<th>Cargo</th>
                      <th></th>
										</tr>
									</thead>
									<tbody>
                    <% @users.each do |u| %>
										<tr>
											<td> <%= u.email %></td>
											<td><%= Account.find(u.account_id).name %></td>
                      <td><span class="badge <%= u.role == true ? "badge blue" : "bg-danger"%>"><%= u.role == true ? "Admin" : "Motorista" %></span></td>
                      <td><%= link_to "Deletar", user_destroy_path(u), data: { method: :delete, confirm: "Tem certeza?" }, class: "btn btn-danger btn-sm" %>
                      <%= link_to "Editar", user_edit_path(u), class: "btn btn-warning btn-sm" %>
                      </td>
										</tr>
                    <% end %>
									</tbody>
								</table>
							</div>
						</div>
</div>
