<%= render "shared/flashes" %>
<%= render "shared/navbar2" %>

<div class="container">

<div class="row">
						<div class="col-12 col-lg-12 col-xxl-12 d-flex">
							<div class="card flex-fill">
								<div class="card-header">

									<h5 class="card-title mb-0"e>Usuários Cadastrados</h5>
								</div>
								<table class="table table-hover my-0">
									<thead>
										<tr>
											<th>Email</th>
											<th class="d-none d-xl-table-cell">Município</th>
											<th class="d-none d-xl-table-cell">Cargo</th>
                      <th class="d-none d-xl-table-cell"></th>
										</tr>
									</thead>
									<tbody>
                    <% @users.each do |u| %>
										<tr>
											<td> <%= u.email %></td>
											<td class="d-none d-xl-table-cell"><%= Account.find(u.account_id).name %></td>
                      <td><span class="badge <%= u.role == true ? "bg-success" : "bg-danger"%>"><%= u.role == true ? "Admin" : "Motorista" %></span></td>
                      <td><%= link_to "Deletar", user_destroy_path(u), data: { turbo_method: :delete, confirm: "Tem certeza?" }, class: "btn btn-danger btn-sm" %>
                      <%= link_to "Editar", user_edit_path(u), class: "btn btn-warning btn-sm" %>
                      </td>
										</tr>
                    <% end %>
									</tbody>
								</table>
							</div>
						</div>
</div>

</div>
