

<%= render "shared/flashes" %>
<%#= render "shared/navbar2" %>
<%= render "shared/navbarmat" %>

<style>

#map_wrap {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow:hidden;
}

#map_div {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}

#chart_wrap {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow:hidden;
}

#piechart {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}

.avatar-large {
  width: 50px;
  border-radius: 50%;
}
a {
   text-decoration: none !important;
}
li, a {
   text-decoration: none !important;
}

.card {
  border-radius: 9px ;
}

.row .col.s12{
  border-radius: 9px;
}

.image {
  width: 40px;
  height: 40px;
  margin-top: 2px;
}

.hist {
  height: 60px;
}

.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}

.tabs .tab a{
  color:#000;
} /*Black color to the text*/

.tabs .tab a:hover {
  background-color:#eee;
  color:#000;
} /*Text color on hover*/

.tabs .tab a.active {
  background-color:#888;
  color:#000;
 } /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color:#000;
 } /*Color of underline*/

</style>

<div class="container p-5">
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large cyan accent-3">
      <i class="large material-icons">local_hospital</i>
    </a>
    <ul>
      <li><a class="btn-floating yellow darken-1 modal-trigger" href="#modalempenho"><i class="material-icons">attach_money</i></a></li>
      <li><a class="btn-floating green modal-trigger" href="#modalvehicle"><i class="material-icons">directions_car</i></a></li>
      <li><a class="btn-floating blue modal-trigger" href="#modaluser" ><i class="material-icons">people</i></a></li>
    </ul>
  </div>

 <!-- Modal User -->
  <div id="modaluser" class="modal">
    <div class="modal-content">
      <h4>Cadastrar Usuário</h4>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">SAIR</a>
    </div>
  </div>

<!-- Modal Vehicle -->
  <div id="modalvehicle" class="modal">
    <div class="modal-content">
      <h4>Cadastrar Veículo</h4>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">SAIR</a>
    </div>
  </div>

<!-- Modal Empenho -->
  <div id="modalempenho" class="modal">
    <div class="modal-content">
      <h4>Cadastrar Empenho</h4>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">SAIR</a>
    </div>
  </div>

  <!-- Tap Target Structure -->
  <div class="tap-target" data-target="menu">
    <div class="tap-target-content">
      <h5>Title</h5>
      <p>A bunch of text</p>
    </div>
  </div>
  <div class="container p-0">
      <div class="row">
        <div class="col s12 m6">
        <div class="card light-blue accent-2">
          <div class="card-content white-text">
            <div class="col s9">
              <span class="card-title"><strong>Olá</strong>, <%= current_user.email %></span>
            </div>
              <div class="col s3">
                <%= image_tag("medicine.png")%>
              </div>
          </div>
          <div class="card-action">
            <a href="/new_sign_up" class="waves-effect orange darken-1 btn-small">Usuários</a>
            <a href="/vehicles/new" class="waves-effect orange darken-1 btn-small">Veículos</a>
          </div>
        </div>
        </div>
      </div>
			<h1 class="h3 mb-3"><strong>TFD</strong> Dashboard</h1>
      <div class="row">
      <div class="col s3 m6">
        <div class="card one cardhome">
          <div class="card-content">
            <span class="card-title"> Veículos</span>
            <h2><%= Vehicle.all.count %></h2>
          </div>
        </div>
      </div>
      <div class="col s3 m6">
        <div class="card two">
          <div class="card-content white-text">
            <span class="card-title">Disponíveis</span>
            <h2><%= @vliberado.count %></h2>
          </div>
        </div>
      </div>
      <div class="col s3 m6">
        <div class="card tree">
          <div class="card-content white-text">
            <span class="card-title">Manutencão</span>
            <h2><%= @vmanutencao.count %></h2>
          </div>
        </div>
      </div>
      <div class="col s3">
        <div class="card four">
          <div class="card-content white-text">
            <span class="card-title">Viagens</span>
            <h2> <%= Travel.all.count %></h2>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col s6 ">
      <div id="chart_wrap">
        <div id="piechart" class="chart_div"></div>
      </div>
    </div>
    <div class="col s6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Histórico</span>

            <div class="notification">
              <img src='https://kitt.lewagon.com/placeholder/users/lucas-ferreira' class="avatar-large" />
              <div class="notification-content">
                <p><small><%#= Travel.last.hr_final %></small></p>
                <p>A viagem será realizada De <strong> <%= Travel.last.route.origem %> </strong> para <strong> <%= Travel.last.route.destino %> </strong></p>
              </div>
              <div class="notification-actions">
                <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
                <a href="#">Delete <i class="far fa-trash-alt"></i></a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>
    <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content white-text center-align">
          <span class="card-title">Destinos</span>
          <div id="map_wrap">
            <div id="map_div"></div>
          </div>
        <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
\				<div class="mb-0">
				<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i>  </span>
				<span class="text-muted"></span>
							</div>
						</div>
					</div>
			 </div>
			</div>
		</div>
	</div>
</div>

</div>

<!--
  <div id="test-swipe-2" class="col s12">Test 2</div>
  <div id="test-swipe-3" class="col s12">Test 3</div>
<a href="#test-swipe-2" class="btn-floating btn-large waves-effect"><i class="material-icons">add</i></a>
<a class="waves-effect waves-light btn-small" id="but"><i class="material-icons left">cloud</i>button</a>
<a class="waves-effect waves-teal btn-flat">Button</a>
-->

<script>
//document.getElementById("teste").addEventListener("click", display);
//function display() {
//  fetch('/teste')
 // .then((response) => response.json())
 // .then((data) => console.log(data.errors));

//}


$(window).on("throttledresize", function (event) {
    var options = {
        width: '100%',
        height: '100%'
    };

    var data = google.visualization.arrayToDataTable([]);
    drawChart(data, options);
});

 $(document).ready(function(){
    $('.modal').modal();
  });


$(document).ready(function(){
    $('.tabs').tabs();
  });

$(document).ready(function(){
    $('.sidenav').sidenav();
  });

document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'left'
    });
  });

  $(document).ready(function(){
    $('.datepicker').datepicker();
  });

</script>
<%= render "shared/footer" %>
