<%= render "shared/flashes" %>
<%= render "shared/navbar2" %>


<div class="container mt-3">
  <div class="card shadow border-primary" style="--bs-border-opacity: .2;">
    <div class="card-body callout callout-primary">
      <h5 class="card-title mt-3">
        Origem:
        <h2><%= @rotum.origem %></h2>
        Destino
        <h2><%= @rotum.destino %></h2>
      </h5>
      <p class="card-text mt-5">


      <!-- Modal Add Rotum -->

<!-- Button trigger modal -->

<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
  +
</button>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <div class="d-flex justify-content-center bg-white p-5">
        <%= form_with model: [@rotum,@travel], class:"row g-1 w-10", local: true do |form| %>
        <div><%= form.label :status, "Status" %></div>
        <%= form.select :status,["A iniciar", "Finalizado"], class:"form-control form-control-sm col-auto" %>
        <div><%= form.label :vehicle, "Veículo" %></div>
        <%= form.collection_select :vehicle, Vehicle.all, :id, :modelo, prompt: true, class:"form-control mb-3" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
       <%= form.submit "Adicionar", class: "btn btn-primary" %>

      </div>
       <% end %>
    </div>
  </div>
</div>

  <!-- End Modal Add Rotum -->

  <!-- Init Accordion Rotum -->
<% @count = 1 %>
<% @rotum_run.each do |r|  %>
<div class="accordion accordion-flush mt-3" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
    <% @ind = "#flush-collapseOne" + "#{@count}" %>
    <% @ind2 = "flush-collapseOne" + "#{@count}" %>
      <button class="d-flex justify-content-between accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target= <%= @ind %> aria-expanded="false" aria-controls="flush-collapseOne">
        Viagem <%= r.id %>
        <div class="m-2 btn btn-warning btn-sm"><%= r.status %></div>
      </button>
    </h2>
    <div id=<%= @ind2 %> class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <% r.vehicles.each do |show| %>
      <div class="accordion-body"> <strong> Modelo: </strong><%= show.modelo %> </div>
      <div class="accordion-body"> <strong> Placa: </strong><%= show.placa %> </div>
      <div class="accordion-body"> <strong> Capacidade: <%= show.capacidade %> </strong> </div>
      <% end %>
      <div><%= link_to "Detalhes", travel_path(r), class: "m-4 btn btn-primary btn-sm" %></div>
    </div>
  </div>
</div>
</p>
<% @count = @count + 1 %>
<% end %>
</div>


<!-- End Accordion Rotum -->

    <div class="progress" style="height: 3px;">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 100%;"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </div>
</div>
