<%= render "shared/flashes" %>
<%= render "shared/navbarmat" %>

<style>

.modal {
 max-height: 100%;
}
</style>

<script>

$(document).ready(function(){
    $('.tabs').tabs();
  });

$(document).ready(function(){
    $('.modal').modal();
  });

$(document).ready(function(){
    $('select').formSelect();
  });
</script>

<div class="container mt-3">
  <div class="card shadow border-primary p-2" style="--bs-border-opacity: .2;">
    <div class="card-body callout callout-primary">
    <div class="row">
      <div class="col s7">
        <h5 class="card-title mt-3">
          Origem:
          <h2><%= @rotum.origem %></h2>
          Destino
          <h2><%= @rotum.destino %></h2>
        </h5>
      </div>

      <div class="col s5 push-s5">
        <a class="btn-floating waves-effect modal-trigger" href="#modal2"><i class="material-icons">add</i></a>
      </div>
      <p class="card-text mt-5">
</div>
</div>
<!-- Modal Trigger -->

  <!-- Modal Structure -->
  <div id="modal2" class="modal">
    <div class="modal-content">
       <%= form_with model: [@rotum,@travel], class:"formtravel", local: true do |form| %>
        <div><%= form.label :status, "Status" %></div>
        <%= form.select :status,["A iniciar", "Finalizado"] %>
        <div><%= form.label :vehicle, "Veículo" %></div>
        <%= form.collection_select :vehicle, Vehicle.all, :id, :modelo, prompt: true %>
         <div><%= form.label :hr_final, "Data" %></div>
         <%= form.date_select :hr_final%>
        <div><%= form.label :hr_partida, "Horário de Partida" %></div>
        <%= form.text_field :hr_partida %>
        <div><%= form.label :hr_volta, "Horário de Retorno" %></div>
        <%= form.text_field :hr_volta%>
        </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
      <%= form.submit "Adicionar", class: "btn btn-primary" %>
    </div>
  </div>
 <% end %>
    <ul id="tabs-swipe-demo blue lighten-1" class="tabs p-1">
      <li class="tab col s3"><a class="active" href="#test-swipe-1">2023</a></li>
      <!--
      <li class="tab col s3"><a href="#test-swipe-2">Test 2</a></li>
      <li class="tab col s3"><a href="#test-swipe-3">Test 3</a></li>
      -->

    </ul>
      <div id="test-swipe-1" class="col s12">
        <ul id="tabs-swipe-demo" class="tabs">
          <li class="tab col s3"><a class="active" href="#test-swipe-son1">Abril</a></li>
          <!--
          <li class="tab col s3"><a href="#test-swipe-son2"></a></li>
          <li class="tab col s3"><a href="#test-swipe-son3"></a></li>
          -->
        </ul>
          <div id="test-swipe-son1" class="col s12 p-3">
                <ul class="collapsible">
                  <% @abril = @rotum.travels.where(month:4) %>
                  <% @abril.each do |a| %>
                  <li>
                    <div class="collapsible-header"><i class="material-icons">directions_car</i>
                    <%= a.id %>-
                     <span> <%= a.status %> </span>
                    </div>
                    <div class="collapsible-body">
                    <p>Partida: <%= a.hr_partida %> </p>
                    <p>Retorno: <%= a.hr_volta %></p>
                    <p>Data: <%= a.hr_final %></p>
                    </div>
                  </li>
                  <% end %>
                </ul>
          </div>
          <!--
          <div id="test-swipe-son2" class="col s12 red">Test 2</div>
          <div id="test-swipe-son3" class="col s12 green">Test 3</div>
          -->
      </div>
      <!--
      <div id="test-swipe-2" class="col s12">Test 2</div>
      <div id="test-swipe-3" class="col s12">Test 3</div>
      -->

  </div>



</div>

</div>
</div>
