<%= render "shared/navbarmat" %>

<div class="container mt-5">
<div class="row">
						<div class="col-12 col-lg-12 col-xxl-12 d-flex">
							<div class="card flex-fill">
								<div class="card-header">

									<h5 class="card-title mb-0">Veículos Cadastrados</h5>
								</div>
								<table class="table table-hover my-0">
									<thead>
										<tr>
											<th>Modelo</th>
											<th class="d-none d-xl-table-cell">Placa</th>
											<th class="d-none d-xl-table-cell">Ano</th>
											<th>Status</th>
											<th class="d-none d-md-table-cell">Capacidade</th>
                      <th class="d-none d-md-table-cell"></th>
										</tr>
									</thead>
									<tbody>
                    <% @vehicles.each do |v| %>
										<tr>
											<td> <%= v.modelo %></td>
											<td class="d-none d-xl-table-cell"><%= v.placa %></td>
											<td class="d-none d-xl-table-cell"><%= v.ano %></td>
											<td><span class="badge <%= v.status == "Liberado" ? "bg-success" : "bg-danger"%>"><%= v.status %></span></td>
											<td class="d-none d-md-table-cell"><%= v.capacidade %></td>
                      <td class="d-none d-md-table-cell">
                      <%= link_to "Deletar", vehicle_path(v), data: { method: :delete, confirm: "Tem certeza?" }, class: "btn btn-danger btn-sm" %>
                      <%= link_to "Editar", edit_vehicle_path(v), class: "btn btn-warning btn-sm" %>
                      </td>
										</tr>
                    <% end %>
									</tbody>
								</table>
							</div>
						</div>
</div>
</div>
