
<div class="row">
  <div class="col-12 col-md-6 offset-lg-3">
    <div class="d-flex justify-content-center bg-white rounded p-5 shadow">
      <%= simple_form_for(@account) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <%= f.input :name, label: 'Município' %>
          <%= f.input :subdomain, label: 'Subdomínio' %>
          <%= f.input :domain, label: 'Domínio' %>
          <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
