<%= render "shared/flashes" %>
<%= render "shared/navbar2" %>

<div class="container mt-5">
  <p style="color: green"><%= notice %></p>

  <%= render @account %>

  <div>
    <%= link_to "Edit this account", edit_account_path(@account) %> |
    <%= link_to "Back to accounts", accounts_path %>

    <%= button_to "Destroy this account", @account, method: :delete %>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="d-flex justify-content-center bg-white rounded p-5 shadow">
        <%= form_with url: admin_account_path, class:"row g-1 w-10", method: :post do |form| %>
          <div><%= form.label :email %></div>
          <%= form.text_field :email, class:"form-control col-auto" %>
          <div><%= form.label :password %></div>
          <%= form.text_field :password, class:"form-control col-auto" %>
          <div><%= form.label :password_confirmation %></div>
          <%= form.text_field :password_confirmation, class:"form-control col-auto" %>
          <div><%= form.label :role %></div>
          <%= form.select :role,["Motorista","Admin/Prefeitura"], class:"form-control col-auto" %>
          <div><%= form.label :Município %></div>
          <div><%= form.select :account, @teste, class:"form-control col-auto"  %></div>
          <div><%= form.submit "Salvar", class: "btn btn-primary mt-2 text-center" %></div>
        <% end %>
      </div>
    </div>
</div>
